.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}